
         /* NavBar */

.flex{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.space{
  margin: 4px;
}


ul.navBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  background-color:#292a33;
}

ul.navBar li {
  float: left;
  font-size: 20px;
}

ul.navBar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}

ul.navBar li a:hover {
  background-color: rgb(56, 56, 56);
}

/* form */


.form-container {
  margin: 1rem auto;
  max-width: 500px;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 0px 8px;
}

.form-container form {
  display: flex;
  flex-direction: column;
}
.form-container{
  border-radius: 65px;

}

.form-container form label {
  font-size: 1rem;

}

.form-btn{
  width: 100px;
  height: 25px;
  margin-left: 200px;
  border-radius: 65px;

}

.form-container form input{
  margin-top: 0.25rem;
  margin-bottom: 0.75rem;
  padding: 0.25rem;
  font-weight: bold;
  border: none;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 1px 2px;
  border-radius: 65px;

}

/* sideBar */

ul.sideBar li a {
  display: block;
  padding: 30px;
  text-decoration: none;
  color: black

}


ul.sideBar {
  list-style-type: none;
  margin-right: 100px;
  padding: 0;
  
}



.formName{
  text-align: center;
}


.priceColor{
  color: gray;
}



.orderbtn{
  width: 100px;
  height: 25px;
}



.input{
  margin-top: 19px;
  border-radius: 70px;
  height: 20px;
}
                  /* CartItem */


.CartItem{
   display: flex;
   border-bottom: 1px solid #DDD;
   padding-bottom: 60px;
   padding-top: 12px;
}


.CartItems{
   flex: 0.7;
   background-color: white;;
   margin-right: 20px;
   text-align: left;
   padding: 0px;
}


.CartItem-image{
   width: 200px;
   height: 200px;
   flex-grow: 0;
   flex-shrink: 0;
   margin-right: 16px;
}

.CartItem-image img{
   object-fit: contain;
   width: 100%;
}


.CartItem-Info{
   flex-grow: 1;
}

.info-title h2{
   margin: 0;
   font-size: 18px;
   color: #007185;
}


.item-actions {
   margin-top: 4px;
   display: flex;
   align-items: center;
}
.CartItem-price{
   font-size: 18px;
   font-weight: 700;
   margin-left: 16px;

}

.item-quantity select{
   background: #F0F2F2;
   padding: 8px;
   border-radius: 7px;
   box-shadow: 0px 2px 5px 0px rgba(15,17,17,0,0.15);
}

.item-quantity select:focus{
   outline: none;
}
.item-actions-divider{
   margin-left: 8px;
   margin-right: 8px;
   color: #DDDDDD;
   font-weight: bold;
}

.item-delete {
   color: #007185;
   cursor: pointer;
}

.item-delete:hover{
   text-decoration: underline
}


.CartTotal{
   display: flex;
   margin-left: 20px;
   margin-top: 20px;
}


.product-list{
   flex: .8;
   background-color: #EAEDED;
   
}
.order-product{
   flex: .2;
   
}
               /* CartTotal */


.CartTotal button{
   background-color: #f0c14b;
   font-size: 20px;
   width: 100%;
   border-radius: 4px;
   border: 2px, solid #a88734;
   cursor: pointer;
   margin-left: 30px;
}

.CartTotal button:hover{
   background-color: #ddb347;

}

.CartTotal button:focus{
   outline: none;
}

.CartTotal-price {
   margin-left: 30px;
}

.itemss {
   margin-left: 30px;
}

.App-main{
   display:flex;
   padding: 14px 18px 0 18px;
   align-items: flex-start;
}







